@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff !important;
  height: 100%;
}
.nav-link.active {
  color: #f79f1a !important;
  border-radius: 0;
  background: none !important;
}

.nav-link:hover {
  color: #f79f1a !important;
  border-radius: 0;
  background: none !important;
}
.navbar {
  z-index: 1000 !important;
}
@media only screen and (max-width: 767px) {
  .hero-section {
    background-repeat: no repeat;
    background-image: url(images/hero.png);
    background-position: 0% 100%; /* Adjust position of background image */
    text-shadow: 0.5px 0.5px 2px rgba(171, 225, 10, 0.818); /* Add outline using text-shadow */
  }
}
.dashboard-h {
  height: 50vh !important;
}
